@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Sedan SC';
  src: url(https://fonts.cdnfonts.com/css/sedan-sc);
} */


@font-face {
  font-family: 'Content-Bold';
  src: url('./fonts/Content-Bold.woff') format('woff');
  font-weight: bold;
}
nav h1 {
  font-family: 'Sedan SC', serif;
  font-size: 2rem ;
}
nav ul{
  font-family: 'Open Sans', serif;
  font-size: 1.2rem;
}
h1 {
  font-family: 'Content-bold', serif;
  font-size: 4rem;
}
@layer base {
  #root {
    @apply h-full;
  }

  html,body {
    @apply h-full;
    @apply select-none;
    @apply bg-transparent;
    @apply font-mono;
    background-color: rgb(215, 215, 215);
  }
}

.active {
  @apply text-orange-500 underline underline-offset-4
}
/* .bg-image {
  background-image: url('./assets/_.jpeg');
} */

p {
  font-family: 'Open Sans', serif;
}
h1 {
  color: rgba(204, 204, 204, 0.5);
}
.herosection h1 {
  color: #57431c;
  background-color: rgba(204, 204, 204, 0.5);
}
.herosection h3 {
  background-color: rgba(204, 204, 204, 0.5);
}

.about-me :hover{
  color: green;
}
.pagination{
display: flex;
align-items: center;
justify-content: center;
list-style-type: none ;
margin: 0;
padding: 0;
}

.pagination li{
  margin: 15px 5px;
}

.pagination a{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  margin: 5pX 5px;
}

.pagination a:hover {
  background: #dddddd;
}

.pagination li.activePagination {
  background: rgb(255, 106, 0);
  border-radius: 6px;
  color: #fff;
}

.activebtn {
  color: #fc3c1a;
}


@keyframes scaleAndColor {
  0% {
    font-size: 0.5rem;
    color: #ff4500; /* Initial color */
  }
  50% {
    font-size: 1rem;
    color: #ffa500; /* Middle color */
  }
  100% {
    font-size: 1.5rem;
    color: #ff8c00; /* Final color */
  }
}

.animated-text {
  animation: scaleAndColor 3s infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
